w_o guard.json
{
  "name": "w/o guard",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -3312,
        848
      ],
      "id": "a6193ed1-1adc-4c3b-a07f-eddbf98afd44",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -3184,
        752
      ],
      "id": "e6aa8c44-0539-471d-8936-a565f920e797",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "=galapagos_files",
          "mode": "id"
        },
        "embeddingBatchSize": 600,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.1,
      "position": [
        -3040,
        752
      ],
      "id": "da18881f-7183-4332-9934-d0e00579e9c3",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "fFe02uSFlmonou2H",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}{{ $json.info.Keywords }}{{ $json.info.Subject }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        -2896,
        912
      ],
      "id": "593ac928-d93d-4541-99c5-81ef4ac93d08",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -2896,
        1024
      ],
      "id": "625a3755-7acd-4547-ba51-25bfa63eab52",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "content": "## Embeddings + Vector store\n",
        "height": 420,
        "width": 1140,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3776,
        736
      ],
      "typeVersion": 1,
      "id": "171657b1-f706-4cfd-94e5-7b922eb30e38",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.pregunta }}"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        -1760,
        864
      ],
      "id": "414c54f0-f114-4236-b4b0-261ce9fab224",
      "name": "Llama Guard Filter(safe&unsafe)"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "galapagos",
        "toolDescription": "this is the information that can help you with the galapagos questions",
        "qdrantCollection": {
          "__rl": true,
          "value": "galapagos_files",
          "mode": "list",
          "cachedResultName": "galapagos_files"
        },
        "topK": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.1,
      "position": [
        -944,
        1216
      ],
      "id": "e075382a-1933-4b2c-bf64-2d49a0a323de",
      "name": "DB Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "fFe02uSFlmonou2H",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json.text;\n\nif (!input || typeof input !== 'string') {\n  throw new Error(\"Mensaje vacío o inválido\");\n}\n\nreturn [{\n  json: {\n    output: input.result || \"El mensaje contiene instrucciones invalidas que no cumple las políticas\"\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1536,
        1392
      ],
      "id": "97a21567-7325-46d4-846b-eca6b7afe1d7",
      "name": "Code"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields1').item.json.chat }}",
        "options": {
          "systemMessage": "Eres un experto en las Islas Galápagos. Tu objetivo principal es proporcionar respuestas precisas, contextualmente relevantes y concisas utilizando las herramientas y recursos disponibles.\n\n##HERRAMIENTA\nUtiliza la herramienta \"galapagos\" para:\n-Realizar búsquedas de información relevante sobre las Islas Galápagos en relación con la consulta del usuario.\n-Acceder a información detallada y específica sobre las Islas Galápagos cuando se requiera contexto adicional.\n\n##INSTRUCCIONES CLAVE\n1.**Directrices de Respuesta**:\n-Explica claramente cómo la información recuperada aborda la consulta del usuario, si es aplicable.\n-Si no se encuentra información relevante, responde: \"No puedo encontrar la respuesta en los recursos disponibles sobre las Islas Galápagos.\"\n\n2.**Enfoque y Relevancia**:\n-Asegúrate de que todas las respuestas estén directamente alineadas con la pregunta del usuario.\n-Evita incluir detalles superfluos o basarte únicamente en conocimiento interno.\n\nREGLAS DE RESPUESTA\n-SOLO debes responder preguntas que estén relacionadas con las Islas Galápagos, pero también puedes saludar y ser cordial.\n-Si una pregunta no tiene relación con las Islas Galápagos, responde exactamente: \"Lo siento, solo puedo responder sobre las Islas Galápagos. Esa pregunta no es mi especialidad.\"\n-Si sabes o no la respuesta, usa obligatoriamente la herramienta \"galapagos\".\n\nNO respondas preguntas fuera de Galápagos. NO intentes inventar una respuesta si no estás seguro.\n\nFormato de respuesta: solo texto plano, sin explicaciones adicionales del sistema además de dar una respuesta corta, clara y concisa.",
          "returnIntermediateSteps": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -1040,
        1008
      ],
      "id": "df9faa09-3230-42a2-8e23-06f85e438bef",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -2400,
        1184
      ],
      "id": "a1a22fc5-8bc1-4013-9a60-ce10962893aa",
      "name": "Telegram Trigger",
      "webhookId": "71bf8244-255e-41ff-b855-5519ad168835",
      "credentials": {
        "telegramApi": {
          "id": "BWouoKWOqMmKtB6A",
          "name": "Telegram account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "mode": "load",
        "qdrantCollection": {
          "__rl": true,
          "value": "galapagos_files",
          "mode": "list",
          "cachedResultName": "galapagos_files"
        },
        "prompt": "={{ $('Edit Fields').item.json.pregunta }}",
        "topK": 3,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.1,
      "position": [
        -928,
        128
      ],
      "id": "470d1c02-c214-4464-897a-f84cf9c722f7",
      "name": "Qdrant Vector Store2",
      "credentials": {
        "qdrantApi": {
          "id": "fFe02uSFlmonou2H",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\n\nconst contenidos = allItems.map(item => item.json.document.pageContent);\nconst score = allItems.map(item => item.json.score);\nconst chat = $('Edit Fields').first().json.pregunta\n//const sessionid = $('Telegram Trigger').first().json.message.chat.id\n\nreturn [\n  {\n    json: {\n      contenidos,\n      score,\n      chat,\n      //sessionid\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        128
      ],
      "id": "bd639b27-16b0-4e25-b79a-1031599d47be",
      "name": "Code2"
    },
    {
      "parameters": {
        "mode": "expression",
        "numberOutputs": 2,
        "output": "={{ $json.output.includes(\"true\") }}"
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -160,
        128
      ],
      "id": "7dd753e2-fec1-4921-ba69-200b7c1feed6",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "// Obtener respuestas de manera segura\nconst modelo1 = $('AI Agent1')?.first()?.json?.output;\nconst modelo2 = $('model check')?.first()?.json?.output;\nconst chat = $('Edit Fields').first().json.pregunta;\n\n// Retornar solo un item (respuesta unificada)\nreturn [\n  {\n    json: {\n      respuestas_unidas: {\n        modelo1,\n        modelo2\n      },\n      chat\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        832
      ],
      "id": "92c725cb-a19d-4735-9b59-0ecdc25b5d40",
      "name": "Code1",
      "executeOnce": false
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1kZiwqAVs2E3Z2s1zfpgyt_QQsrhsjWib",
            "mode": "list",
            "cachedResultName": "Galapagos",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1kZiwqAVs2E3Z2s1zfpgyt_QQsrhsjWib"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -3616,
        848
      ],
      "id": "cb4ad7a6-a5d0-4886-8584-bd51e2a3c141",
      "name": "Search files",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ASTlTmskHP0RAvks",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "95a4cfca-3cd9-4a55-8806-dec0b3ea740e",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3472,
        848
      ],
      "id": "73e54e1e-bc74-45ba-a2cf-a57e5794702d",
      "name": "Get ID"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Get ID').item.json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -3184,
        912
      ],
      "id": "cc03df25-0c3a-416b-9e58-a1bc6f956f8e",
      "name": "Download files",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ASTlTmskHP0RAvks",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cb25940c-92a4-47cf-bc05-a1cca522d6f5",
              "leftValue": "={{ $json.text }}",
              "rightValue": "safe",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1216,
        992
      ],
      "id": "d0b2142b-1f97-461c-a8e3-ffc32dbcca37",
      "name": "Filter safe/unsafe"
    },
    {
      "parameters": {
        "chatId": "={{ $('Retrieve IDs').item.json.sessionId }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1120,
        1504
      ],
      "id": "fea6f829-e966-4b9b-bda1-45d07c624b72",
      "name": "Message Unsafe",
      "webhookId": "7131d64a-06d0-402b-9eed-d82fdc67d04b",
      "credentials": {
        "telegramApi": {
          "id": "BWouoKWOqMmKtB6A",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Retrieve IDs').item.json.sessionId }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1616,
        400
      ],
      "id": "16501764-5f26-4d8c-9cb2-b1517599a3d3",
      "name": "Response",
      "webhookId": "5f3d420c-e963-406c-babc-4e7598335220",
      "credentials": {
        "telegramApi": {
          "id": "BWouoKWOqMmKtB6A",
          "name": "Telegram account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1zMfMcyGHzubpYQjzt1DHMfceLrJtWcuxINCIm7XgiXQ",
          "mode": "list",
          "cachedResultName": "Metricas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zMfMcyGHzubpYQjzt1DHMfceLrJtWcuxINCIm7XgiXQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zMfMcyGHzubpYQjzt1DHMfceLrJtWcuxINCIm7XgiXQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "pregunta": "={{ $('Edit Fields').item.json.pregunta }}",
            "respuesta modelo2": "={{ $json.output }}"
          },
          "matchingColumns": [
            "pregunta"
          ],
          "schema": [
            {
              "id": "pregunta",
              "displayName": "pregunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "respuesta modelo(hay en el pdf)",
              "displayName": "respuesta modelo(hay en el pdf)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "respuesta modelo1(no hay en el pdf)",
              "displayName": "respuesta modelo1(no hay en el pdf)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "respuesta modelo2",
              "displayName": "respuesta modelo2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "modelo2",
              "displayName": "modelo2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "col_5",
              "displayName": "col_5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "precision",
              "displayName": "precision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "recall",
              "displayName": "recall",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "F1 score",
              "displayName": "F1 score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "coseno",
              "displayName": "coseno",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "acc",
              "displayName": "acc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -704,
        336
      ],
      "id": "800d33f9-98da-409b-8ebf-96601f0051bf",
      "name": "Save Answer",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CCee8I5CnuTLTwtb",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "##    Validation using IA",
        "height": 732,
        "width": 1176,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        512
      ],
      "typeVersion": 1,
      "id": "f6d0d758-2343-4598-9fbf-4bd326492e48",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -96,
        832
      ],
      "id": "5654cb60-5854-44b5-9709-9563284f7589",
      "name": "Merge both models answers"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1zMfMcyGHzubpYQjzt1DHMfceLrJtWcuxINCIm7XgiXQ",
          "mode": "list",
          "cachedResultName": "Metricas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zMfMcyGHzubpYQjzt1DHMfceLrJtWcuxINCIm7XgiXQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zMfMcyGHzubpYQjzt1DHMfceLrJtWcuxINCIm7XgiXQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "pregunta": "={{ $('Code2').item.json.chat }}",
            "respuesta modelo1(no hay en el pdf)": "={{ $json.output }}"
          },
          "matchingColumns": [
            "pregunta"
          ],
          "schema": [
            {
              "id": "pregunta",
              "displayName": "pregunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "respuesta modelo(hay en el pdf)",
              "displayName": "respuesta modelo(hay en el pdf)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "respuesta modelo1(no hay en el pdf)",
              "displayName": "respuesta modelo1(no hay en el pdf)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "respuesta modelo2",
              "displayName": "respuesta modelo2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "modelo2",
              "displayName": "modelo2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "col_5",
              "displayName": "col_5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "precision",
              "displayName": "precision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "recall",
              "displayName": "recall",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "F1 score",
              "displayName": "F1 score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "coseno",
              "displayName": "coseno",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "acc",
              "displayName": "acc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        0,
        16
      ],
      "id": "70e9da83-3ae4-4a83-9162-031a6ca57475",
      "name": "No answer on pdf",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CCee8I5CnuTLTwtb",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1zMfMcyGHzubpYQjzt1DHMfceLrJtWcuxINCIm7XgiXQ",
          "mode": "list",
          "cachedResultName": "Metricas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zMfMcyGHzubpYQjzt1DHMfceLrJtWcuxINCIm7XgiXQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zMfMcyGHzubpYQjzt1DHMfceLrJtWcuxINCIm7XgiXQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "pregunta": "={{ $('Code2').item.json.chat }}",
            "respuesta modelo(hay en el pdf)": "={{ $json.output }}"
          },
          "matchingColumns": [
            "pregunta"
          ],
          "schema": [
            {
              "id": "pregunta",
              "displayName": "pregunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "respuesta modelo(hay en el pdf)",
              "displayName": "respuesta modelo(hay en el pdf)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "respuesta modelo1(no hay en el pdf)",
              "displayName": "respuesta modelo1(no hay en el pdf)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "respuesta modelo2",
              "displayName": "respuesta modelo2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "modelo2",
              "displayName": "modelo2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "col_5",
              "displayName": "col_5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "precision",
              "displayName": "precision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "recall",
              "displayName": "recall",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "F1 score",
              "displayName": "F1 score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "coseno",
              "displayName": "coseno",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "acc",
              "displayName": "acc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        0,
        176
      ],
      "id": "21db6ee3-3b1e-40e6-b774-83c3f4bedc31",
      "name": "Answer on pdf",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CCee8I5CnuTLTwtb",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -3008,
        912
      ],
      "id": "42708f7e-5807-4024-a40e-e0ac00d43808",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "xZEnRfO9vs6Qnnx9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -912,
        1360
      ],
      "id": "b394c218-9000-418f-be14-bf2ac00c85d1",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "xZEnRfO9vs6Qnnx9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -928,
        288
      ],
      "id": "f98bc236-75e9-430e-b7fa-6a144e4f1887",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "xZEnRfO9vs6Qnnx9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.pregunta }}",
        "options": {
          "systemMessage": "Eres un experto en las Islas Galápagos. Tu objetivo principal es proporcionar respuestas precisas, contextualmente relevantes y concisas utilizando las herramientas y recursos disponibles.\n\n##HERRAMIENTA\nUtiliza la herramienta \"galapagos\" para:\n-Realizar búsquedas de información relevante sobre las Islas Galápagos en relación con la consulta del usuario.\n-Acceder a información detallada y específica sobre las Islas Galápagos cuando se requiera contexto adicional.\n\n##INSTRUCCIONES CLAVE\n1.**Directrices de Respuesta**:\n-Explica claramente cómo la información recuperada aborda la consulta del usuario, si es aplicable.\n-Si no se encuentra información relevante, responde: \"No puedo encontrar la respuesta en los recursos disponibles sobre las Islas Galápagos.\"\n\n2.**Enfoque y Relevancia**:\n-Asegúrate de que todas las respuestas estén directamente alineadas con la pregunta del usuario.\n-Evita incluir detalles superfluos o basarte únicamente en conocimiento interno.\n\nREGLAS DE RESPUESTA\n-SOLO debes responder preguntas que estén relacionadas con las Islas Galápagos, pero también puedes saludar y ser cordial.\n-Si una pregunta no tiene relación con las Islas Galápagos, responde exactamente: \"Lo siento, solo puedo responder sobre las Islas Galápagos. Esa pregunta no es mi especialidad.\"\n-Si sabes o no la respuesta, usa obligatoriamente la herramienta \"galapagos\".\n\nNO respondas preguntas fuera de Galápagos. NO intentes inventar una respuesta si no estás seguro.\n\nFormato de respuesta: solo texto plano, sin explicaciones adicionales del sistema además de dar una respuesta corta, clara y concisa.",
          "returnIntermediateSteps": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -976,
        448
      ],
      "id": "8342ed21-fbe1-4330-ae61-0dcbce4d8702",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -976,
        784
      ],
      "id": "c013b0ea-e094-4787-9759-6a6dc3c7f9ea",
      "name": "Embeddings OpenAI3",
      "credentials": {
        "openAiApi": {
          "id": "xZEnRfO9vs6Qnnx9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "setMetrics",
        "expectedAnswer": "={{ $json.respuestas_unidas.modelo2 }}",
        "actualAnswer": "={{ $json.respuestas_unidas.modelo1 }}",
        "options": {}
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.7,
      "position": [
        272,
        832
      ],
      "id": "b58e7419-aa27-414b-b8e5-a35503916021",
      "name": "Correctness"
    },
    {
      "parameters": {
        "operation": "setMetrics",
        "metric": "helpfulness",
        "userQuery": "={{ $('Code2').item.json.chat }}",
        "actualAnswer": "=first answer:{{ $json.respuestas_unidas.modelo1 }} \nsecond answer:{{ $json.respuestas_unidas.modelo2 }} ",
        "options": {}
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.7,
      "position": [
        256,
        560
      ],
      "id": "d2c2c82a-7de0-4153-a7bd-0666bddb7945",
      "name": "Helpfulness"
    },
    {
      "parameters": {
        "operation": "setMetrics",
        "metric": "stringSimilarity",
        "expectedAnswer": "={{ $json.respuestas_unidas.modelo2 }}",
        "actualAnswer": "={{ $json.respuestas_unidas.modelo1 }}",
        "options": {}
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.7,
      "position": [
        304,
        1104
      ],
      "id": "5944541a-ce31-47e0-9840-548a3156d1f4",
      "name": "Evaluation"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1zMfMcyGHzubpYQjzt1DHMfceLrJtWcuxINCIm7XgiXQ",
          "mode": "list",
          "cachedResultName": "Metricas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zMfMcyGHzubpYQjzt1DHMfceLrJtWcuxINCIm7XgiXQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1936180087,
          "mode": "list",
          "cachedResultName": "Hoja 2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zMfMcyGHzubpYQjzt1DHMfceLrJtWcuxINCIm7XgiXQ/edit#gid=1936180087"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "pregunta": "={{ $('Code1').item.json.chat }}",
            "helpfulness": "={{ $json.Helpfulness }}",
            "correctness": "={{ $json.Correctness }}",
            "similarity": "={{ $json['String similarity'] }}"
          },
          "matchingColumns": [
            "pregunta"
          ],
          "schema": [
            {
              "id": "pregunta",
              "displayName": "pregunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "correctness",
              "displayName": "correctness",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "helpfulness",
              "displayName": "helpfulness",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "similarity",
              "displayName": "similarity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "categorization",
              "displayName": "categorization",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        816,
        832
      ],
      "id": "9e3b4159-1d28-4c00-b14c-37d0c942d856",
      "name": "Save score1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CCee8I5CnuTLTwtb",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1zMfMcyGHzubpYQjzt1DHMfceLrJtWcuxINCIm7XgiXQ",
          "mode": "list",
          "cachedResultName": "Metricas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zMfMcyGHzubpYQjzt1DHMfceLrJtWcuxINCIm7XgiXQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1936180087,
          "mode": "list",
          "cachedResultName": "Hoja 2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zMfMcyGHzubpYQjzt1DHMfceLrJtWcuxINCIm7XgiXQ/edit#gid=1936180087"
        }
      },
      "type": "n8n-nodes-base.evaluationTrigger",
      "typeVersion": 4.6,
      "position": [
        -2304,
        592
      ],
      "id": "443d267b-f484-4974-b04d-ef39ea188abf",
      "name": "When fetching a dataset row",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CCee8I5CnuTLTwtb",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fc3cb653-a99e-4dab-8263-88caf44025d7",
              "name": "pregunta",
              "value": "={{ $json.pregunta }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2016,
        592
      ],
      "id": "d3ff3d48-193b-451b-88d4-04d8cc122a9a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.sessionid }}\n{{ $json.chat }}\n{{ $json.contenidos }}\n{{ $json.score }}",
        "options": {
          "systemMessage": "Eres un evaluador experto de sistemas RAG (Retrieval-Augmented Generation). Evalúa si una respuesta es correcta basándote en:\n1. Pregunta original: {{ chat }}\n2. Respuesta del sistema: {{respuesta}}\n3. Fragmentos recuperados con sus scores (0 a 1): {{#each contenidos}}\nFragmento {{@index}} (score: {{../score.[@index]}}):\n{{this}}\n{{/each}}\n\nInstrucciones:\n- Marca como \"correcta\": true solo si la respuesta está respaldada directamente por al menos un fragmento, aunque otros no sean relevantes  \n-Explica brevemente qué fragmento(s) apoyan o contradicen la respuesta (máx. 5 lineas). \n-Si contradice o no está sustentada, marca \"correcta\": false.\n-Ignora conocimiento externo, usa solo los fragmentos.\n\nFormato de salida (texto plano):\n\"correcta\": true/false, \"Explicación breve basada en fragmentos.\"",
          "returnIntermediateSteps": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -464,
        128
      ],
      "id": "14b2adad-86ec-41a1-8fae-ac4b08cf6b3d",
      "name": "model check"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evoapi",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2288,
        864
      ],
      "id": "63324bad-2688-4742-8d21-6c34b7bc96a3",
      "name": "Webhook",
      "webhookId": "33573e04-2a9f-4870-8e8c-888d9228633f"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2affb33-7212-4fb2-8f33-f6f6858b136c",
              "name": "chat_id",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "a23c9953-7ade-4b35-a6ed-989019a67c8e",
              "name": "instance",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "d6a584af-0c33-465d-9622-91911abb95f0",
              "name": "apikey",
              "value": "={{ $json.body.apikey }}",
              "type": "string"
            },
            {
              "id": "96f614a1-5766-4afb-ae2d-6ec4a9646a80",
              "name": "url_server",
              "value": "=https://evo.flowpro.space",
              "type": "string"
            },
            {
              "id": "95a71888-946b-4375-b5e1-884d297dfce4",
              "name": "chat",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2112,
        864
      ],
      "id": "b6462928-1953-4acf-97aa-932ec8059473",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Switch1').item.json.url_server }}/message/sendText/{{ $('Switch1').item.json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Switch1').item.json.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Switch1').item.json.chat_id }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1376,
        1392
      ],
      "id": "7437abda-6eac-4bcc-ba8c-6eaad1b7e6c3",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.instance }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "6f9d4d65-573f-4153-b274-c435e9dbd94f"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1920,
        864
      ],
      "id": "a54d2cfa-78ce-42e1-9a7a-c9658114dc98",
      "name": "Switch1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Edit Fields1').item.json.url_server }}/message/sendText/{{ $('Switch1').item.json.instance  }} ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Switch1').item.json.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Switch1').item.json.chat_id }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -736,
        1008
      ],
      "id": "735668e3-2180-44b7-8a5e-ecb57f4798c8",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-maverick-17b-128e-instruct",
        "options": {
          "maxTokensToSample": 300,
          "temperature": 0.5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -1056,
        1200
      ],
      "id": "65bc3526-8037-4e6c-bdb5-e8bab5b11732",
      "name": "Groq Chat Model2",
      "credentials": {
        "groqApi": {
          "id": "vx8xRZ8fNE69G7vT",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano-2025-08-07",
          "mode": "list",
          "cachedResultName": "gpt-5-nano-2025-08-07"
        },
        "options": {
          "reasoningEffort": "low"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -464,
        304
      ],
      "id": "ec3684cf-f209-433a-899d-3d046f080b14",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "xZEnRfO9vs6Qnnx9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano-2025-08-07",
          "mode": "list",
          "cachedResultName": "gpt-5-nano-2025-08-07"
        },
        "options": {
          "maxTokens": 500,
          "reasoningEffort": "low"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1008,
        608
      ],
      "id": "74d99272-6eab-40bb-a40d-0a46c0a756be",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "xZEnRfO9vs6Qnnx9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $json;\n\nif (input.platform === \"telegram\") {\n  return [{\n    json: {\n      method: \"telegram\",\n      chatId: input.sessionId,\n      text: input.output\n    }\n  }];\n} else if (input.platform === \"evoapi\") {\n  return [{\n    json: {\n      method: \"http\",\n      url: `${input.url_server}/message/sendText/${input.instance}`,\n      headers: { apikey: input.apikey },\n      body: {\n        number: input.chat_id,\n        text: input.output\n      }\n    }\n  }];\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2224,
        1184
      ],
      "id": "6989bf72-50de-42fb-a4ac-fd269931ae87",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        656,
        816
      ],
      "id": "fbde928d-3183-48ad-8823-744c339858a1",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3760,
        848
      ],
      "id": "713cee23-d211-41ef-a145-bb2b83acdb0f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "setInputs",
        "inputs": {
          "values": [
            {
              "inputName": "pregunta",
              "inputValue": "={{ $json.pregunta }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.7,
      "position": [
        -2160,
        592
      ],
      "id": "a575200b-5082-449b-b900-a66389a3891c",
      "name": "Evaluation2"
    },
    {
      "parameters": {
        "operation": "checkIfEvaluating"
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.7,
      "position": [
        -1376,
        768
      ],
      "id": "02006dfe-ba48-427d-b9da-28c4d0b9bdc5",
      "name": "Evaluation1"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {
          "maxTokensToSample": 300
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -320,
        384
      ],
      "id": "7f4a3842-8277-4a9f-898c-9a990f87abc1",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "vx8xRZ8fNE69G7vT",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": "meta-llama/llama-guard-4-12b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -1824,
        1056
      ],
      "id": "d9c7b681-8aac-4b70-92a5-519271e8e0ed",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "vx8xRZ8fNE69G7vT",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "galapagos",
        "toolDescription": "esta es la informacion que te puede ayudar sobre las islas galapagos ",
        "qdrantCollection": {
          "__rl": true,
          "value": "galapagos_files",
          "mode": "list",
          "cachedResultName": "galapagos_files"
        },
        "topK": 3,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.1,
      "position": [
        -816,
        624
      ],
      "id": "edb4e92f-d718-4ba2-b7c7-4aaffe16d573",
      "name": "galapagos",
      "credentials": {
        "qdrantApi": {
          "id": "fFe02uSFlmonou2H",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {
          "maxOutputTokens": 1000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        320,
        976
      ],
      "id": "45ce46c3-3e40-4e2f-9064-fe2179d3631b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "upYDMOvZbQJqWRDP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-001",
        "options": {
          "maxOutputTokens": 1000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        352,
        704
      ],
      "id": "6aae3db7-b621-48b6-9870-2114a8b43388",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "upYDMOvZbQJqWRDP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1872,
        592
      ],
      "id": "242a8dd1-94cf-4fba-99f5-5995a2c5b03f",
      "name": "Wait",
      "webhookId": "87c8d0df-ba74-45bd-a067-4fd76affd8ee"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "connection": "upgrade",
            "host": "n8n.flowpro.space",
            "x-real-ip": "172.18.0.7",
            "x-forwarded-for": "172.18.0.7",
            "x-forwarded-proto": "https",
            "content-length": "613",
            "content-type": "application/json",
            "user-agent": "axios/1.7.9",
            "accept-encoding": "gzip, compress, deflate, br"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "galapagos",
            "data": {
              "key": {
                "remoteJid": "593983591117@s.whatsapp.net",
                "fromMe": false,
                "id": "3AFF24D6B763C4A1E610"
              },
              "pushName": "",
              "status": "ERROR",
              "message": {
                "conversation": "Cómo puedo extraer un animal de las islas galápagos ?"
              },
              "messageType": "conversation",
              "messageTimestamp": 1758730195,
              "instanceId": "84f9f5c8-ce16-449f-bc53-2ea75b18a30a",
              "source": "ios"
            },
            "destination": "https://n8n.flowpro.space/webhook/evoapi",
            "date_time": "2025-09-24T13:10:01.733Z",
            "sender": "593961101335@s.whatsapp.net",
            "server_url": "http://localhost:8080",
            "apikey": "94DC996636BE-49B0-8780-BB2EB842A7D0"
          },
          "webhookUrl": "https://n8n.flowpro.space/webhook/evoapi",
          "executionMode": "production"
        }
      }
    ],
    "When fetching a dataset row": [
      {
        "json": {
          "row_number": 2,
          "pregunta": "¿Qué trámite debo realizar antes de ingresar a las Islas Galápagos si voy a trabajar?",
          "correctness": 3,
          "helpfulness": 3,
          "similarity": 0.2692307692307693
        }
      }
    ]
  },
  "connections": {
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Llama Guard Filter(safe&unsafe)": {
      "main": [
        [
          {
            "node": "Evaluation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store2": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "model check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "No answer on pdf",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Answer on pdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Correctness",
            "type": "main",
            "index": 0
          },
          {
            "node": "Helpfulness",
            "type": "main",
            "index": 0
          },
          {
            "node": "Evaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files": {
      "main": [
        [
          {
            "node": "Get ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get ID": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download files": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter safe/unsafe": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge both models answers": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "DB Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI3": {
      "ai_embedding": [
        [
          {
            "node": "galapagos",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Save Answer",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge both models answers",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Correctness": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Helpfulness": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluation": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "When fetching a dataset row": {
      "main": [
        [
          {
            "node": "Evaluation2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "model check": {
      "main": [
        [
          {
            "node": "Merge both models answers",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "model check",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Save score1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluation1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Qdrant Vector Store2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filter safe/unsafe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluation2": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Llama Guard Filter(safe&unsafe)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "galapagos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Correctness",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Helpfulness",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Evaluation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Llama Guard Filter(safe&unsafe)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "91dad2aa-b5c0-47ae-ba09-87b484a43515",
  "meta": {
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "0ZfevZ9aawFHOnQ1",
  "tags": []
}
